<!-- đây là chỗ thay password, có form luôn -->

{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Change password
    </li>
{% endblock %}

{% block content %}
    <div class ="row">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %} <!-- form này ăn theo PasswordChangeForm
                                                    (A form for allowing a user to change their password) -->
                <button type="submit" class="btn btn-success">Change password</button>
            </form>
        </div>
    </div>
{% endblock %}