body {
    background-image: url("../img/signup_wallpaper.jpg");
}

.logo {
    font-family: 'Roboto', sans-serif;
}

.logo a {
    color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active{
    font-family: 'Roboto', sans-serif;
}